/* breakpoint argument (phone , tab-port, tab-land, big-desktop)*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem); }
  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem); }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@-webkit-keyframes flyaway {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 5px;
    right: 30px; }
  15% {
    top: -53px;
    right: -30px; }
  30% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    top: -90px;
    right: -80px; }
  45% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    top: -75px;
    right: -140px;
    font-size: 28px; }
  55% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    top: -75px;
    right: -170px;
    font-size: 28px; }
  65% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    top: -120px;
    right: -200px; }
  100% {
    top: -300px;
    right: -1000px;
    opacity: 0; } }

@keyframes flyaway {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    top: 5px;
    right: 30px; }
  15% {
    top: -53px;
    right: -30px; }
  30% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    top: -90px;
    right: -80px; }
  45% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    top: -75px;
    right: -140px;
    font-size: 28px; }
  55% {
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    top: -75px;
    right: -170px;
    font-size: 28px; }
  65% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    top: -120px;
    right: -200px; }
  100% {
    top: -300px;
    right: -1000px;
    opacity: 0; } }

@keyframes bounce-in {
  0% {
    padding-top: .6rem; }
  40% {
    padding-top: 2.8rem; }
  50% {
    padding-bottom: 2.8rem; }
  100% {
    padding-bottom: .6rem; } }

/* //////////Default website/////////// */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*if 100% = 16px
	10 / 16 = 0.625 

	0.625 16 = 10  
	0.625 20 = 12.5
	0.625 22 = 13.75
	*/ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

button, input {
  outline: none; }

/* /////////Default typeface////////////////////// */
body {
  padding-bottom: 0;
  color: #333;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400; }

div, p, span {
  font-size: 14px; }

button, input {
  font-family: "Poppins", sans-serif; }

/* Heading font */
h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.6rem; }

h4 {
  font-size: 2.2rem; }

h5 {
  font-size: 1.8rem; }

h6 {
  font-size: 1.6rem; }

/* Font-icon */
.font-icon-16 {
  font-size: 1.6rem; }

.font-icon-18 {
  font-size: 1.8rem; }

.font-icon-20 {
  font-size: 2rem; }

.font-icon-32 {
  font-size: 3.2rem; }

/* /////////Heading font-size////////////////////// */
/* primary heading */
.heading-primary {
  margin-bottom: 6rem;
  color: #fff; }
  .heading-primary--main {
    text-transform: uppercase;
    letter-spacing: .4rem;
    font-size: 6.8rem;
    font-family: "Galada", cursive;
    -webkit-animation: moveInLeft 1s ease-in;
    animation: moveInLeft 1s ease-in; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 3.5rem; } }
  .heading-primary--sub {
    margin: 0 auto;
    padding: 0 2rem;
    width: 50%;
    font-size: 1.8rem;
    -webkit-animation: moveInRight 1s ease-in;
    animation: moveInRight 1s ease-in; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        width: 90%;
        font-size: 1.6rem; } }

/* secondary heading */
.heading-secondary--main {
  display: inline-block;
  position: relative;
  margin-bottom: .5rem;
  line-height: 1.1;
  letter-spacing: 0.2rem;
  color: #ed2831;
  text-transform: uppercase;
  font-weight: 600; }
  .heading-secondary--main::before {
    position: absolute;
    left: -23%;
    bottom: .6rem;
    background-color: #ed2831;
    width: 146%;
    height: .12rem;
    content: ''; }
    @media only screen and (max-width: 37.5em) {
      .heading-secondary--main::before {
        left: -8%;
        width: 115%; } }

.heading-secondary--sub {
  font-size: 1.8rem; }

/* nomarl heading */
.heading-normal {
  margin-bottom: 5rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-normal {
      margin-bottom: 3rem; } }
  .heading-normal--main {
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    color: #ed2831; }
  .heading-normal--sub {
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
    font-weight: 600; }

/* ///////////////Utilites////////////////////// */
/* float */
.float-l {
  float: left !important; }

.float-r {
  float: right !important; }

.clear-fix::after {
  content: "";
  display: table;
  clear: both; }

/* center */
.u-center-text {
  text-align: center; }

/* margin */
.m-bottom-3r {
  margin-bottom: 3rem; }

.m-bottom-4r {
  margin-bottom: 4rem; }

.m-bottom-5r {
  margin-bottom: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .m-bottom-5r {
      margin-bottom: 3rem; } }

.m-bottom-8r {
  margin-bottom: 8rem; }

.m-top-8r {
  margin-top: 8rem; }

/* padding */
.p-lr-3r {
  padding: 0 3rem; }
  @media only screen and (max-width: 37.5em) {
    .p-lr-3r {
      padding: 0; } }

/* reponsive img */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

/* list-inline */
ul.list-line {
  list-style-type: none; }

.list-line li {
  display: inline-block; }

.list-line li a {
  display: block; }

/* link-inherit */
a.link-inherit,
ul.link-inherit a {
  color: inherit;
  text-decoration: none; }

a.link-inherit:hover, ul.link-inherit a:hover {
  text-decoration: underline; }

/* /////////////////BUTTON////////////// */
.btn, .btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  border-radius: 10rem;
  border: none;
  padding: 1.2rem 3.2rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  -webkit-transition: all 0.32s;
  transition: all 0.32s; }

.btn {
  /* choice white */
  /* choice primary */
  /* choice input */
  /* ANIMATION */ }
  .btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.05);
    box-shadow: 0 1rem 2rem rgba(255, 255, 255, 0.05); }
    .btn:hover::after, .btn:hover:focus {
      outline: none;
      opacity: 0;
      -webkit-transform: scaleX(1.4) scaleY(1.6);
      transform: scaleX(1.4) scaleY(1.6); }
  .btn:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2); }
  .btn::after {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10rem;
    height: 100%;
    width: 100%;
    content: '';
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .btn--white {
    background: #fff;
    color: #333; }
    .btn--white::after {
      background-color: #fff; }
  .btn--primary {
    background: #ed2831;
    color: #fff; }
    .btn--primary::after {
      background-color: #fff; }
  .btn--receive {
    background-color: #ed2831;
    width: 12.5rem;
    height: 5.6rem;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
      border-top-right-radius: 10rem;
      border-bottom-right-radius: 10rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .btn--animate {
    -webkit-animation: moveInBottom 0.5s ease-in 0.75s backwards;
    animation: moveInBottom 0.5s ease-in 0.75s backwards; }

/* choice text */
.btn-text:link, .btn-text:visited {
  display: inline-block;
  border-bottom: 1px solid #ed2831;
  padding: 3px;
  color: #ed2831;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #ed2831;
  color: #fff;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }

.btn-text:active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }

/* ////////////////Form////////////// */
::placeholder {
  color: #999;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999; }

::-webkit-input-placeholder {
  color: #999; }

.form__group {
  position: relative;
  margin-bottom: 3rem;
  width: 85%; }
  @media only screen and (max-width: 56.25em) {
    .form__group {
      width: 100%; } }

.form__icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: #999; }

.form__input {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  color: inherit;
  padding: 0rem 1.5rem;
  padding-top: .5rem;
  width: 100%;
  height: 5rem;
  font-size: 1.5rem;
  font-family: inherit;
  border: none;
    border-radius: 3px;
    border-bottom: .4rem solid transparent;
  border: 1px solid #e5e5e5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .form__input:focus {
    border-bottom: .4rem solid green;
    outline: none;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .form__input:focus:invalid {
    border-bottom: .3rem solid red; }

.form__col-group {
  display: inline-block;
  position: relative;
  width: calc(50% - 1.5rem); }
  .form__col-group:not(:last-child) {
    margin-right: 2.4rem; }

.form__select-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer; }
  .form__select-input + .lnr {
    float: right;
    margin-top: 1px;
    background-color: transparent;
    cursor: pointer;
    pointer-events: none; }

.form__textarea-input {
  padding-top: 1rem;
  height: 12rem;
  resize: unset; }

/* ////////// SERACH INPUT////////////// */
.form__search {
  display: table;
  position: relative;
  width: 60rem; }
  @media only screen and (max-width: 37.5em) {
    .form__search {
      width: 100%;
      padding: 0 1.5rem; } }
  .form__search-input {
    display: table-cell;
    padding-left: 3rem;
    width: 100%;
    height: 5.6rem;
    color: #333;
    font-size: 1.6rem;
    border: none;
      border-top-left-radius: 10rem;
      border-bottom-left-radius: 10rem; }
  .form__search-group-btn {
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle; }
  .form__search-icon {
    position: absolute;
    top: .5rem;
    right: 3rem;
    color: white; }
    @media only screen and (max-width: 37.5em) {
      .form__search-icon {
        right: 4.5rem; } }
  .form__search-btn {
    padding-right: 1rem; }
    .form__search-btn:hover {
      background-color: #a10e14; }
    .form__search-btn.clicked {
      position: relative;
      cursor: default;
      -webkit-animation: bounce-in 0.6s;
      animation: bounce-in 0.6s; }
      .form__search-btn.clicked .icon--animate {
        top: .5rem;
        right: 3rem;
        -webkit-animation: flyaway 1.5s 0.4s linear forwards;
        animation: flyaway 1.5s 0.4s linear forwards; }

/* //////////////SIDE- PICTURE////////// */
.side__picture {
  border-radius: .3rem;
  height: 51rem;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .side__picture--scroll-x {
    -webkit-transition: all 2s;
    transition: all 2s;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .side__picture:hover .side__picture--scroll-x {
    -webkit-transform: translateX(-12rem);
    transform: translateX(-12rem); }
    @media only screen and (max-width: 56.25em) {
      .side__picture:hover .side__picture--scroll-x {
        -webkit-transform: translateX(0rem);
        transform: translateX(0rem); } }
  .side__picture--top {
    position: relative;
    top: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .side__picture--top {
        top: 0rem;
        display: none; } }

/* /////////////////CARD////////////// */
.card {
  position: relative;
  min-height: 52.2rem;
  font-size: 14px;
  -webkit-perspective: 150rem;
  -moz-perspective: 150rem;
  perspective: 150rem;
  /*  FRONT SIDE STYLING */
  /* BACK SIDE STYLING */ }
  .card__slide {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .3rem;
    width: 100%;
    height: 52.2rem;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__slide--front {
      z-index: 3;
      background-color: #f7f7f7; }
    .card__slide--back {
      background-color: #fff;
      padding: 1rem;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg); }
  .card:hover .card__slide--front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .card:hover .card__slide--back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  .card header {
    position: relative;
    border: 1rem solid white;
    overflow: hidden; }
  .card__avatar {
    background-size: cover;
    height: 26rem; }
    .card__avatar--1 {
      background-image: url("../img/ava-chef-1.jpg"); }
    .card__avatar--2 {
      background-image: url("../img/ava-chef-2.jpg"); }
    .card__avatar--3 {
      background-image: url("../img/ava-chef-3.jpg"); }
  .card__chef {
    position: relative;
    bottom: 0;
    left: 0;
    color: #fff; }
    .card__chef--name {
      position: absolute;
      top: -6rem;
      left: 2rem;
      z-index: 2;
      font-weight: 600; }
    .card__chef--sub {
      position: absolute;
      top: -3.5rem;
      left: 2rem;
      z-index: 2; }
    .card__chef--triangle {
      position: absolute;
      bottom: 4rem;
      left: 0;
      z-index: 1;
      width: 0;
      height: 0;
      border-bottom: 11.5rem solid rgba(237, 40, 49, 0.7);
      border-right: 21.5rem solid transparent; }
      .card__chef--triangle::after {
        position: absolute;
        top: 4rem;
        left: 0;
        z-index: 0;
        content: '';
        border-bottom: 11.5rem solid #1e1c1d;
        border-right: 34rem solid transparent; }
  .card__details {
    padding-top: 2.4rem; }
    .card__details ul {
      padding-bottom: 1rem;
      list-style: none; }
      .card__details ul li {
        position: relative;
        padding: 1.2rem 3rem; }
        .card__details ul li:not(:last-child)::after {
          position: absolute;
          left: 0;
          bottom: 0px;
          background-color: #e5e5e5;
          width: 100%;
          height: 1px;
          content: ''; }
        .card__details ul li .lnr {
          vertical-align: sub;
          margin-right: 1rem; }
  .card__picture {
    position: relative;
    background-size: cover;
    padding: 1rem;
    height: 100%; }
    .card__picture--1 {
      background-image: url("../img/ava-chef-1b.jpg"); }
    .card__picture--2 {
      background-image: url("../img/ava-chef-2b.jpg"); }
    .card__picture--3 {
      background-image: url("../img/ava-chef-3b.jpg"); }
    .card__picture::before {
      position: absolute;
      top: 1rem;
      left: 1rem;
      background-color: rgba(255, 255, 255, 0.9);
      width: 94%;
      height: 96%;
      content: ""; }
  .card .social {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
    .card .social ul li {
      margin: 0 1.2rem; }
    .card .social .svg__icon {
      position: relative;
      top: 10rem;
      opacity: 0;
      z-index: 1; }
      .card .social .svg__icon--fb {
        -webkit-transition: all 0.1s ease 0.5s;
        transition: all 0.1s ease 0.5s; }
      .card .social .svg__icon--tw {
        -webkit-transition: all 0.3s ease 0.5s;
        transition: all 0.3s ease 0.5s; }
      .card .social .svg__icon--yt {
        -webkit-transition: all 0.5s ease 0.5s;
        transition: all 0.5s ease 0.5s; }
      .card .social .svg__icon--gg {
        -webkit-transition: all 0.7s ease 0.5s;
        transition: all 0.7s ease 0.5s; }
  .card:hover .svg__icon {
    top: 0;
    opacity: 1; }
  @media only screen and (max-width: 56.25em) {
    .card {
      height: auto;
      /* BACK SIDE STYLING */ }
      .card__slide {
        position: relative;
        border-radius: .3rem;
        height: auto;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
        .card__slide--back {
          z-index: 3;
          background-color: #f7f7f7;
          padding: 1rem;
          -webkit-transform: rotateY(0);
          transform: rotateY(0); }
      .card:hover .card__slide--front {
        -webkit-transform: none;
        transform: none; }
      .card:hover .card__slide--back {
        -webkit-transform: none;
        transform: none; }
      .card__picture {
        position: relative;
        background: none;
        padding: 1rem;
        height: 100%; }
        .card__picture::before {
          position: absolute;
          top: 1rem;
          left: 1rem;
          background-color: rgba(247, 247, 247, 0.9);
          width: 94%;
          height: 96%;
          content: ""; }
      .card .social {
        width: 100%;
        text-align: center;
        top: 50%;
        left: 0%;
        transform: translate(0%, -50%);
        -webkit-transform: translate(0%, -50%); }
        .card .social ul li {
          margin: 0 .6rem; }
        .card .social .svg__icon {
          position: relative;
          top: 0;
          opacity: 1;
          z-index: 1;
          -webkit-transform: scale(0.75);
          transform: scale(0.75); }
      .card:hover .svg__icon {
        top: 0;
        opacity: 1; } }

/* ///////SERVICES SECTION////////////// */
.services-box {
  color: #fff;
  text-align: center;
  font-size: 14px; }
  .services-box .heading-quinary {
    position: relative;
    margin: 1rem 0;
    font-weight: 600; }
    .services-box .heading-quinary::before {
      position: absolute;
      left: 20%;
      z-index: -1;
      width: 60%;
      height: 100%;
      content: ''; }
    .services-box .heading-quinary--c1::before {
      background-color: #ed2831; }
    .services-box .heading-quinary--c2::before {
      background-color: #ea357d; }
    .services-box .heading-quinary--c3::before {
      background-color: #a3d50e; }
    .services-box .heading-quinary--c4::before {
      background-color: #ebab16; }

/* //////////INTRODUCTION////////////// */
.intro-box {
  position: relative;
  overflow: hidden;
  border: 4px solid #fff;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  /* effect image */
  /* section text */
  /* button */ }
  .intro-box__img {
    width: 100%;
    height: 100%;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
  .intro-box:hover > .intro-box__img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  .intro-box__text {
    position: relative;
    border: 2px solid #333;
    height: 30.8rem;
    max-height: 30.8rem; }
    .intro-box__text p {
      width: 80%;
      font-size: 1.8rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%); }
  .intro-box__screen {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(255, 0, 0, 0.5);
    opacity: 0;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all 1s;
    transition: all 1s; }
    .intro-box__screen a.btn {
      display: inline-table;
      margin: 0 auto; }
  .intro-box:hover .intro-box__screen {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }

/* /////////////Countdown////////////// */
.countdown-box {
  position: relative;
  z-index: 5;
  color: #fff;
  text-align: center; }
  .countdown-box p {
    padding-top: 1rem;
    font-size: 2.2rem;
    font-weight: 600; }
  .countdown-box h4 {
    font-weight: 400; }

/* ////////////////Story////////////// */
.story {
  border-radius: 3px;
  background-color: #fff;
  padding: 3rem;
  padding-left: 4rem;
  font-fize: 14px;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
  -webkit-display: inline-flex;
  -moz-display: inline-flex;
  -ms-display: inline-flex;
  display: inline-flex; }
  @media only screen and (max-width: 37.5em) {
    .story {
      display: block;
      padding: 3rem 1.5rem;
      -webkit-transform: skewX(0);
      transform: skewX(0); } }
  .story__info {
    margin: 0 auto;
    text-align: center;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg); }
    @media only screen and (max-width: 37.5em) {
      .story__info {
        -webkit-transform: skewX(0);
        transform: skewX(0); } }
  .story__name h5 {
    margin: .6rem 0;
    font-weight: 400; }
  .story__shape {
    margin: 0 auto;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    overflow: hidden; }
  .story__text {
    padding-left: 2rem;
    font-style: italic;
    -webkit-transform: skewX(15deg);
    transform: skewX(15deg); }
    @media only screen and (max-width: 37.5em) {
      .story__text {
        padding-left: 0;
        margin-top: 1rem;
        text-align: center;
        -webkit-transform: skewX(0);
        transform: skewX(0); } }

/* ////////////////Popup////////////// */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
  visibility: hidden;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .popup__content {
    display: table;
    opacity: 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    width: 75%;
    height: 50rem;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    -webkit-transition: all 0.4s 0.2s;
    transition: all 0.4s 0.2s; }
  .popup__left {
    display: table-cell;
    width: 33.33333%; }
  .popup__right {
    display: table-cell;
    padding: 3rem 5rem;
    width: 66.66666%;
    vertical-align: middle; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    margin-bottom: 4rem;
    font-size: 1.4rem; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    display: inline-block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: #ccc;
    font-size: 3rem;
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .popup__close:hover {
    color: #ed2831; }

/* //////////BG-VIDEO////////////// */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: #ccc;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

/* ////////////////Grid ////////////// */
.row {
  max-width: 117rem;
  padding: 0 1.5rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 3rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  @media only screen and (max-width: 56.25em) {
    .row.fluid-tab-port {
      max-width: 80rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem); }

/* //////////////Header////////////////// */
.navigation__checkbox {
  display: none; }

.navigation__button {
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  border-radius: 50%;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 2rem;
      right: 2rem; } }

.navigation__background {
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  border-radius: 50%;
  background-image: radial-gradient(#ed2831, #000);
  height: 6rem;
  width: 6rem;
  -webkit-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  width: 0;
  overflow: auto;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  width: 100%;
  list-style: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%); }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  background-size: 220%;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  background: transparent;
  background: -webkit-linear-gradient(-30deg, transparent 0%, transparent 50%, #fff 50%);
  background: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ed2831;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
  margin-right: .5rem;
  width: 2.8rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    border-radius: 50px;
    background-color: #333;
    height: 4px; }
  .navigation__icon::before {
    width: 3.6rem; }
  .navigation__icon::after {
    width: 1.8rem; }
  .navigation__icon::before, .navigation__icon::after {
    position: absolute;
    left: 0;
    content: '';
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .navigation__icon::before {
    top: -.9rem; }
  .navigation__icon::after {
    top: .9rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1.1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1.1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  margin-left: -.3rem;
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  width: 3.6rem;
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.navigation__tooltip {
  visibility: hidden;
  position: absolute;
  top: 2.2rem;
  right: 250%;
  z-index: 1;
  opacity: 0;
  width: 12rem;
  background-color: #fff;
  padding: 5px 0;
  color: #333;
  text-align: center;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .navigation__tooltip::after {
    position: absolute;
    top: 0;
    left: 100%;
    content: " ";
    border-width: 16px;
    border-style: solid;
    border-color: transparent transparent transparent #fff; }

.navigation__button:hover .navigation__tooltip {
  visibility: visible;
  right: 140%;
  opacity: 1; }

.box__img {
  overflow: hidden; }

.col__img {
  width: 20%;
  padding: 20px 15px;
  float: left; }

.col__img img {
  width: 100%; }

/* //////////////Header////////////////// */
.header {
  position: relative;
  z-index: 3;
  height: 74rem;
  overflow: hidden; }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 54rem; } }
  .header::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.65);
    background-attachment: fixed; }
  .header__logo-box {
    position: absolute;
    top: 4.5rem;
    left: 4rem; }
  .header__logo {
    height: 2.2rem; }
  .header__text-box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        top: 55%; } }
  .header form {
    margin: 0 auto;
    display: inline-block; }

/* ////////////////FOOTER////////////// */
.footer {
  position: relative;
  background-color: #21262e;
  padding: 10rem 0;
  color: #fff;
  font-size: 1.4rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 5rem 0rem; } }
  .footer__map {
    margin-bottom: 2rem;
    width: 100%;
    height: 18rem;
    color: #333; }
  .footer__logo-box {
    margin-top: 1rem; }
  .footer__about {
    margin-top: 3rem; }
  .footer__list-time {
    border-bottom: 0.1rem solid #fff;
    margin-top: 2rem; }
  .footer__heading {
    font-weight: 400; }
  .footer::after {
    display: block;
    position: absolute;
    left: 50%;
    top: -4rem;
    border-radius: 50%;
    background: #21262e;
    width: 10rem;
    height: 10rem;
    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  .footer__details-box {
    background: #fff;
    padding: 1rem; }
  .footer__details {
    color: #333; }
    .footer__details h6 {
      margin-bottom: .5rem; }
    .footer__details p {
      line-height: 2.4rem; }

/* ////////////end-FOOTER////////////// */
.end-footer {
  background-color: #f7f7f7;
  padding: 2rem 0; }
  .end-footer li:not(:last-child) a::after {
    content: '-';
    padding: 0 1rem 0 1.5rem; }

/* /////////////////ABOUT////////////// */
.section-about {
  position: relative;
  background-color: #f7f7f7;
  padding: 10rem 0rem 20rem;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 5rem 0rem 12rem; } }
  .section-about .row {
    position: relative; }
    .section-about .row footer {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #ed2831;
      padding: 1rem 0px;
      color: #fff; }
      .section-about .row footer::after {
        content: "";
        display: table;
        clear: both; }
      @media only screen and (max-width: 56.25em) {
        .section-about .row footer {
          bottom: -30px; } }
      .section-about .row footer .social {
        float: left;
        padding-left: 1.5rem; }
        .section-about .row footer .social li svg {
          fill: #fff; }
        .section-about .row footer .social li:not(:last-child) {
          margin-right: 2rem; }
      .section-about .row footer .number-phone {
        float: right;
        padding-right: 2rem;
        font-size: 1.8rem;
        font-weight: 600; }
      .section-about .row footer::before {
        position: absolute;
        top: 0px;
        left: -100vw;
        background-color: #ed2831;
        width: 100vw;
        height: 100%;
        content: ''; }
      @media only screen and (max-width: 56.25em) {
        .section-about .row footer ::after {
          position: absolute;
          top: 0px;
          right: -100vw;
          background-color: #ed2831;
          width: 100vw;
          height: 100%;
          content: ''; } }

/*/////////////////SERVICES//////////////////////////*/
.section-services {
  position: relative;
  z-index: 0;
  padding: 10rem 0rem;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.02)), url("../img/bg-services.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }
  @media only screen and (max-width: 56.25em) {
    .section-services {
      padding: 5rem 0rem; } }
  .section-services .heading-secondary {
    color: #fff; }
    .section-services .heading-secondary--main {
      color: #fff; }
      .section-services .heading-secondary--main::before {
        background-color: #fff; }

/* /////////////////Intro////////////////////////// */
.section-intro {
  position: relative;
  z-index: 1;
  padding: 10rem 0rem;
  background-image: url("../img/bg-hot.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  .section-intro::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    content: ''; }
  @media only screen and (max-width: 56.25em) {
    .section-intro {
      padding: 5rem 0rem; } }

/* /////////////////TEAM////////////////////////// */
.section-team {
  background-color: #f7f7f7;
  padding: 10rem 0rem; }
  @media only screen and (max-width: 56.25em) {
    .section-team {
      padding: 5rem 0rem; } }

/* /////////////////Countdown//////////////////// */
.section-countdown {
  position: relative;
  z-index: 1;
  padding: 6rem 0rem;
  background-image: url("../img/bg-countdown.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .section-countdown::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    content: ''; }

/* /////////////////Reviews//////////////////// */
.section-reviews {
  background-color: #f7f7f7;
  padding: 10rem 0rem; }
  @media only screen and (max-width: 56.25em) {
    .section-reviews {
      padding: 5rem 0rem; } }

/* /////////////////Book-form//////////////////// */
.section-book {
  padding: 10rem 0rem;
  background-image: linear-gradient(to right bottom, rgba(24, 30, 35, 0.85), rgba(0, 0, 0, 0.75)), url("../img/bg-fullform.jpg");
  background-attachment: fixed;
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    .section-book {
      padding: 5rem 0rem 10rem; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 50%), url("../img/bg-form.jpg");
  background-size: 100%;
  border-radius: 3px;
  height: 70rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 65%, transparent 50%), url("../img/bg-form.jpg");
      background-size: cover; } }
  @media only screen and (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), url("../img/bg-form.jpg");
      background-size: cover; } }
  .book__form {
    width: 65%;
    padding: 5rem 10rem; }
    @media only screen and (max-width: 75em) {
      .book__form {
        width: 70%; } }
    @media only screen and (max-width: 56.25em) {
      .book__form {
        padding: 5rem 1.5rem;
        width: 100%; } }
