//////////////////////////////////////////
/* ////////////////FOOTER////////////// */
//////////////////////////////////////////
.footer {
	position: relative;
	background-color: $color-dark-blue;
	padding: 10rem 0;
	color: $color-white;
	font-size: 1.4rem;

	@include respond(tab-port) {
		padding: 5rem 0rem;
	}

	&__map {
		margin-bottom: 2rem;
		width: 100%;
		height: 18rem;
		color: $color-body-text;
	}

	&__logo-box {
		margin-top: 1rem;
	}

	&__about {
		margin-top: 3rem;
	}

	&__list-time {
		border-bottom: .1rem solid $color-white;
		margin-top: 2rem;
	}

	&__heading {
		font-weight: $refular;
	}

	&::after {
		display: block;
		position: absolute;
		left: 50%;
		top: -4rem;
		border-radius: 50%;
		background:  $color-dark-blue;
		width: 10rem;
		height: 10rem;
		content: '';
		@include prefix(transform, translateX(-50%), webkit);
	}


	&__details-box {
		background: $color-white;
		padding: 1rem;
	}

	&__details {
		color: $color-body-text;
	
		h6 {
			margin-bottom: .5rem;
		}

		p {
			line-height: 2.4rem;
		}
	}
}

//////////////////////////////////////////
/* ////////////end-FOOTER////////////// */
//////////////////////////////////////////
.end-footer {
	background-color: $color-light-gray-1;
	padding: 2rem 0;

	li:not(:last-child) {
		a::after {
			content: '-';
			padding: 0 1rem 0 1.5rem;
		}
	}
}