
//////////////////////////////////////////
/* //////////////Header////////////////// */
//////////////////////////////////////////
.navigation {
	&__checkbox {
		display: none;
	}

	&__button {
		position: fixed;
		top: 6rem;
		right: 6rem;
		z-index: 2000;
		border-radius: 50%;
		background-color: $color-white;
		height: 7rem;
		width: 7rem;
		text-align: center;
		cursor: pointer;
		@include prefix(box-shadow, $box-shadow-1, webkit);


		@include respond(tab-port) {
			top: 2rem;
			right: 2rem;
		}
	}

	&__background {
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		z-index: 1000;
		border-radius: 50%;
		background-image: radial-gradient($color-primary, $color-black);
		height: 6rem;
		width: 6rem;
		@include prefix(transition, transform .8s cubic-bezier(0.86, 0, 0.07, 1), webkit);
		@include respond(tab-port) {
			top: 2.5rem;
			right: 2.5rem;
		}
	


	}

	&__nav {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1500;
		visibility: hidden;
		opacity: 0;
		height: 100vh;
		width: 0;
		overflow: auto;
		@include prefix(transition, all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55), webkit);

	}

	&__list {
		width: 100%;
		list-style: none;
		text-align: center;
		@include absCenter
	}

	&__item {
		margin: 1rem;
	}

	&__link {
		&:link,
		&:visited {
			display: inline-block;
			background-size: 220%;
			padding: 1rem 2rem;
			color: $color-white;
			font-size: 3rem;
			text: {
				decoration: none;
				transform: uppercase;
			}
			// background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
			@include linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
			@include prefix(transition, all .4s, webkit);
	

		}

		&:hover,
		&:active {
			background-position: 100%;
			color: $color-primary;
			@include prefix(transform, translateX(1rem), webkit);
		}
		
	}
	

	&__checkbox:checked ~ &__background{
		@include prefix(transform, scale(80), webkit);
	}

	&__checkbox:checked ~ &__nav {
		opacity: 1;
		visibility: visible;
		width: 100%;
	}

	//////////icon/////////////
	//////////////////////////
	&__icon {
		position: relative;
		margin-top: 3.5rem;
		margin-right: .5rem;
		width: 2.8rem;

		&,
		&::before,
		&::after {
			display: inline-block;
			border-radius: 50px;
			background-color: $color-body-text;
			height: 4px;	
		}

		&::before {
			width: 3.6rem;

		}

		&::after {
			width: 1.8rem;
		}


		&::before,
		&::after {
			position: absolute;
			left: 0;
			content: '';
			@include prefix(transition, all .3s, webkit);
		}

		&::before { top: -.9rem;}
		&::after { top: .9rem;}
	}

	&__button:hover &__icon::before {
		top: -1.1rem;
	}

	&__button:hover &__icon::after {
		top: 1.1rem;
	}

	&__checkbox:checked + &__button &__icon {
		margin-left: -.3rem;
		background-color: transparent;
	}

	&__checkbox:checked + &__button &__icon:before {
		top: 0;
		@include prefix(transform, rotate(135deg), webkit);
	}

	&__checkbox:checked + &__button &__icon:after {
		width: 3.6rem;
		top: 0;
		@include prefix(transform, rotate(-135deg), webkit);
	}

	//////////tooltip/////////////
	//////////////////////////
	&__tooltip {
		visibility: hidden;
		position: absolute; 
	    top: 2.2rem;
	    right: 250%;
	   	z-index: 1;
	    opacity:0;
	    width: 12rem;
	    background-color: $color-white;
	    padding: 5px 0;
	    color: $color-body-text;
	    text-align: center;
	    border: {
			top-left-radius: 1.5rem;
			bottom-left-radius: 1.5rem;
	    }
	    @include prefix(transition, all .2s , webkit);

	    &::after {
			position: absolute;
		    top: 0;
		    left: 100%; 
		    content: " ";
		    border: {
		    	width: 16px;
		    	style: solid;
		    	color: transparent transparent transparent $color-white;
		    	
		    }

		


	    }   
	}

	&__button:hover &__tooltip {
		visibility: visible;
		right: 140%;
    	opacity:1;
	}
}

.box__img {
	overflow: hidden;
}

.col__img {
	width: 20%;
	padding:20px 15px;
	float:left;
}

.col__img img {
	width: 100%;
}