//////////////////////////////////////////
/* /////////////////CARD////////////// */
//////////////////////////////////////////
.card {
	position: relative;
	min-height: 52.2rem;
	font-size: $default-font-size;
	@include prefix(perspective, 150rem, webkit moz);

	&__slide {
		position: absolute;
		top: 0;
		left: 0;
		border-radius: .3rem;
		width: 100%;	
		height: 52.2rem;
		overflow: hidden;
		@include prefix(backface-visibility, hidden, webkit);
		@include prefix(transition, all .8s ease, webkit);
		@include prefix(box-shadow, $box-shadow-1, webkit);

		&--front {
			z-index: 3;
			background-color: $color-light-gray-1;
		}

		&--back {
			background-color: $color-white;
			padding: 1rem;
			@include prefix(transform, rotateY(180deg), webkit);
		}
	}

	&:hover &__slide--front {
		@include prefix(transform, rotateY(180deg), webkit);
	}

	&:hover &__slide--back {
	 	@include prefix(transform, rotateY(0deg), webkit);
	}

/*  FRONT SIDE STYLING */
///////////////////////////
		header {
			position: relative;
			border: 1rem solid white;
			overflow: hidden;
		}


		&__avatar {
			background-size: cover;
			height: 26rem;

			&--1 {
				background-image: url($img-url + "ava-chef-1.jpg");
			}

			&--2 {
				background-image: url($img-url + "ava-chef-2.jpg");
			}
			
			&--3 {
				background-image: url($img-url + "ava-chef-3.jpg");
			}
		}

		&__chef {
			position: relative;
			bottom: 0;
			left: 0;
			color: $color-white;
			
			&--name{
		    	position: absolute;
				top: -6rem;
				left: 2rem;
				z-index: 2;
				font-weight: $semi-bold;	
			}

			&--sub{
				position: absolute;
				top: -3.5rem;
				left: 2rem;
				z-index: 2;
			}

			&--triangle{
	      		position: absolute;
				bottom: 4rem;
				left:0;
				z-index: 1;
				width: 0; 
				height: 0;
				border: {
					bottom: 11.5rem solid rgba($color-primary ,.7);
					right: 21.5rem solid transparent;
				}
			
				&::after {
					position: absolute;
				    top: 4rem;
				    left:0;
		     		z-index: 0;
					content: '';
					border: {
						bottom: 11.5rem solid $color-dark-gray;
						right: 34rem solid transparent;
					}
				}
			}
		}

		&__details{
	 		padding-top:2.4rem;

			ul{
				padding-bottom: 1rem;
				list-style: none;

				li{
					position: relative;
					padding: 1.2rem 3rem;
					
					&:not(:last-child)::after {
						position: absolute;
						left:0;
						bottom: 0px;
						background-color: $color-light-gray-2;
						width: 100%;
						height: 1px;
						content: '';
					}

					.lnr {
						vertical-align: sub;
						margin-right: 1rem;
					}
				}
			}
		}

	
	/* BACK SIDE STYLING */
	//////////////////////
		&__picture {
			position: relative;
			background-size: cover;
			padding: 1rem;
			height: 100%;

			&--1 {
				background-image: url($img-url + "ava-chef-1b.jpg");
			}

			&--2 {
				background-image: url($img-url + "ava-chef-2b.jpg");
			}

			&--3 {
				background-image: url($img-url + "ava-chef-3b.jpg");
			}

			&::before {
				position: absolute;
				top: 1rem;
				left: 1rem;
				background-color: rgba($color-white, 0.9);
				width: 94%;
				height: 96%;
				content:"";
			}
		}

		.social{
			width: 100%;
			text-align: center;
			@include absCenter;

			ul {
				li{
					margin:0 1.2rem;
				}
			}

			.svg__icon {
				position: relative;
				top: 10rem;
				opacity:0;
				z-index: 1;

				&--fb {
					@include prefix(transition, all 0.1s ease 0.5s, webkit);
				}

				&--tw {
					@include prefix(transition, all 0.3s ease 0.5s, webkit);
				}

				&--yt {
					@include prefix(transition, all 0.5s ease 0.5s, webkit);
				}

				&--gg {
					@include prefix(transition, all 0.7s ease 0.5s, webkit);
				}
			}	
		}

	&:hover .svg__icon {
		top: 0;
		opacity:1;
	}


//////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////
//////////////////////////////////////////////

	@include respond(tab-port) {

	height: auto;
	&__slide {
		position: relative;
		border-radius: .3rem;
		height: auto;
		@include prefix(box-shadow, $box-shadow-1, webkit);


		&--back {
			z-index: 3;
			background-color: $color-light-gray-1;
			padding: 1rem;
			@include prefix(transform, rotateY(0), webkit);
		}
	}

	&:hover &__slide--front {
		@include prefix(transform, none, webkit);
	}

	&:hover &__slide--back {
		@include prefix(transform, none, webkit);
	}


	
	/* BACK SIDE STYLING */
	//////////////////////
		&__picture {
			position: relative;
			background: none;
			padding: 1rem;
			height: 100%;


			&::before {
				position: absolute;
				top: 1rem;
				left: 1rem;
				background-color: rgba($color-light-gray-1, 0.9);
				width: 94%;
				height: 96%;
				content:"";
			}
		}

		.social{
			width: 100%;
			text-align: center;
			top: 50%;
			left: 0%;
			transform: translate(0%, -50%);
			-webkit-transform: translate(0%, -50%);




			ul {
				li{
					margin:0 .6rem;
				}
			}

			.svg__icon {
				position: relative;
				top: 0;
				opacity:1;
				z-index: 1;
				@include prefix(transform, scale(.75), webkit);

			}	
		}

	&:hover .svg__icon {
		top: 0;
		opacity:1;
	}
	}













}


