
//////////////////////////////////////////
/* //////////INTRODUCTION////////////// */
//////////////////////////////////////////



	
.intro-box {
	position: relative;
	overflow: hidden;
	border: 4px solid $color-white;
	@include prefix(box-shadow, $box-shadow-1, webkit);
	@include dpflex(box);
	
	/* effect image */
	&__img {
		width: 100%;
		height: 100%;

		@include prefix(transition, all 1s, webkit);
		@include prefix(backface-visibility, hidden, webkit moz);
	}

	&:hover > &__img {
		@include prefix(transform, scale(1.2), webkit);
	}

	/* section text */
	&__text {
		position: relative;
		border: 2px solid $color-body-text;
		height: 30.8rem;
		max-height: 30.8rem;
		
		p {
			width: 80%;
			font-size: 1.8rem;
			@include absCenter;

		}
	}

	/* button */
	&__screen {
		position: absolute;
		top: 5%;
		left: 5%;
		width: 90%;
		height: 90%;
		background-color: rgba(red,.5);
		opacity: 0;
		@include dpflex(box);
		@include justify-content(center);
		@include flex-direction(column);
		@include prefix(transform, scale(0.2), webkit);
		@include prefix(transition, all 1s, webkit);

		a.btn {
			display: inline-table;
			margin: 0 auto;	
		}
	}

	&:hover &__screen {
		opacity: 1;
		@include prefix(transform, scale(1), webkit);
	}

	
}














