
//////////////////////////////////////////
/* ////////// SERACH INPUT////////////// */
//////////////////////////////////////////
.form__search{
	display: table;
	position: relative;
	width: 60rem;
	@include respond(phone) {
		width: 100%;
		padding: 0 1.5rem;
	}

	&-input {
		display: table-cell;
		padding-left: 3rem;
		width: 100%;
	    height: 5.6rem; 
	    color: $color-body-text;
	    font-size: 1.6rem;
   		border: none {
	    	top-left-radius: 10rem;
	    	bottom-left-radius: 10rem;
    	}

	}

	&-group-btn {
		display: table-cell;
		width: 1%;
		white-space: nowrap;
		vertical-align: middle;

	}

	&-icon {
		position: absolute;
		top: .5rem;
		right: 3rem;
		color: white;

		@include respond(phone){
			right: 4.5rem;
		};

	}

	&-btn {
		padding-right: 1rem;

		&:hover {
			background-color: darken($color-primary, 20%);
		}

		&.clicked {
			position: relative;
			cursor: default;
			@include prefix(animation, bounce-in .6s, webkit);
			.icon--animate {
			    top: .5rem;
				right: 3rem;
				@include prefix(animation, flyaway 1.5s .4s linear forwards, webkit);
	  		}

		}
	}
}