

//////////////////////////////////////////
/* //////////////SIDE- PICTURE////////// */
//////////////////////////////////////////
.side__picture {
	border-radius: .3rem;
	height: 51rem;
	overflow: hidden;
	@include prefix(box-shadow, $box-shadow-1, webkit);

	
	&--scroll-x {
		@include prefix(transition,  all 2s, webkit);
		@include prefix(transform,  translateX(0), webkit);
	}

	&:hover &--scroll-x {
		@include prefix(transform, translateX(-12rem), webkit);

		@include respond(tab-port) {
			@include prefix(transform, translateX(0rem), webkit);
		}
	}

	&--top {
		position: relative;
		top: 10rem;

		@include respond(tab-port) {
			top: 0rem;
			display: none;
		}

	}
}

