//////////////////////////////////////////
/* ////////////////Story////////////// */
//////////////////////////////////////////

.story {
	border-radius: 3px;
	background-color: $color-white;
	padding: 3rem;
	padding-left: 4rem;
	font-fize: $default-font-size;
	@include prefix(box-shadow, $box-shadow-2, webkit);
	@include prefix(transform, skewX(-15deg), webkit);
	@include dpflex(box , inline-);

	@include respond(phone) {
		display: block;
		padding: 3rem 1.5rem;
		@include prefix(transform, skewX(0), webkit);
		
	}



	&__info {
		margin: 0 auto;
		text-align: center;
		@include prefix(transform, skewX(15deg), webkit);
		@include respond(phone) {
			@include prefix(transform, skewX(0), webkit);
		}

	}

	&__name {
		h5 {
			margin: .6rem 0;
			font-weight: $refular;	
		}
	}

	&__shape {
		margin: 0 auto;
		border-radius: 50%;
		width: 8rem;
		height: 8rem;
		overflow: hidden;
	}

	&__text {
		padding-left: 2rem;
		font-style: italic;
		@include prefix(transform, skewX(15deg), webkit);
		@include respond(phone) {
			padding-left: 0;
			margin-top: 1rem;
			text-align: center;
			@include prefix(transform, skewX(0), webkit);
	}

	}
}