/////////////////Move Left////////////////
@include keyframes(moveInLeft) {
  0%{
    opacity: 0;
    @include prefix(transform, translateX(-10rem), webkit )
  }
  80%{
    @include prefix(transform, translateX(1rem), webkit )
  }
 100%{
    opacity: 1;
    @include prefix(transform, translate(0), webkit )
  }
}

 /////////////////Move Right////////////////
@include keyframes(moveInRight) {
  0%{
    opacity: 0;
    @include prefix(transform, translateX(10rem), webkit )
  }
  80%{
    @include prefix(transform, translateX(-1rem), webkit )
  }
 100%{
    opacity: 1;
    @include prefix(transform, translate(0), webkit )
  }
}

 /////////////////Move Bottom////////////////
@include keyframes(moveInBottom) {
  0%{
    opacity: 0;
    @include prefix(transform, translateY(3rem), webkit)
  }
 100%{
    opacity: 1;
    @include prefix(transform, translate(0), webkit)
  }
}



/////////////////Fly ////////////////
@include keyframes(flyaway) {
  0% { 
    @include prefix(transform, rotate(0deg), webkit);
    top: 5px;
    right: 30px;
  }
 
  15% { 
    top: -53px;
    right: -30px;
  }
  
  30% {   
    @include prefix(transform, rotate(15deg), webkit);
    top: -90px; 
    right: -80px;
  } 
  
  
  45%   { 
    @include prefix(transform, rotate(20deg), webkit);
    top: -75px;
    right: -140px;
    font-size: 28px;
  } 

  55% { 
    @include prefix(transform, rotate(25deg), webkit);
    top: -75px;
    right: -170px;
    font-size: 28px;
  } 

  65% { 
    @include prefix(transform, rotate(30deg), webkit);
    top: -120px;
    right: -200px;
  }
  
  100% { 
    top: -300px;
    right: -1000px;
    opacity: 0; 
  }
}

/////////////////Bounce ////////////////
@keyframes bounce-in {
  0% { padding-top: .6rem; }
  40% { padding-top: 2.8rem; }
  50% { padding-bottom: 2.8rem; }
  100% { padding-bottom: .6rem; }
}

