//global//
/////////////////////////////////////////////////////
/* /////////Default typeface////////////////////// */
body {
	padding-bottom: 0;
	color: $color-body-text;
	line-height: 1.6;
	letter-spacing: 0.1rem;
	font: {
		family: $font-body;
		weight: $refular;
	}
}


// div, p, span, ul, li, input, button, .paragraph, form .form__input{
// 	font-size: $default-font-size;

// 	@include respond(tab-land){ //1200
// 		font-size: $default-font-size-land; //1rem = 9px, 9/16 = 56.25%;
// 	}


// 	@include respond(tab-port){ //900
// 		font-size: $default-font-size-port; //1rem = 8px, 8/16 = 50%;
// 	}

	
// 	@include respond(big-desktop){
// 		font-size: $default-font-size-desktop; //1rem = 12px, 12/16;
// 	}

// }


 div, p, span {
 	font-size: $default-font-size;
 }



input, button {
	font-family: $font-body;
}


/* Heading font */
@for $i from 1 through $lengthfont {#{nth($header,$i)}{font-size:#{nth($fontsize ,$i)}}};

/* Font-icon */
@each $key ,$value in $font-icon {.#{$key}{font-size:#{$value}}}


/////////////////////////////////////////////////////
/* /////////Heading font-size////////////////////// */

/* primary heading */
.heading-primary {
	margin-bottom: 6rem;
	color: $color-white;
	
	&--main{
		text-transform: uppercase;
		letter-spacing: .4rem;
		font: {
			size: 6.8rem;
			family: $font-special;
		}	
		@include prefix(animation, moveInLeft 1s ease-in, webkit);
		@include respond(phone) {
			font-size: 3.5rem;
		}

	}

	&--sub{
		margin: 0 auto;
		padding: 0 2rem;
		width: 50%;
		font-size: 1.8rem;
		@include prefix(animation, moveInRight 1s ease-in, webkit);
		@include respond(phone) {
			width: 90%;
			font-size: 1.6rem;
		}

	}

}


/* secondary heading */
.heading-secondary {
	&--main{
		display:inline-block;
		position: relative;
		margin-bottom: .5rem;
		line-height: 1.1;
		letter-spacing: 0.2rem;
		color: $color-primary;
		text-transform: uppercase;
		font-weight: $semi-bold;

		&::before {
			position: absolute;
			left: -23%;
			bottom: .6rem;
			background-color: $color-primary;
			width: 146%;
			height: .12rem;
			content: '';
			
			@include respond(phone) {
				left: -8%;
				width: 115%;

			}

		}


	}

	&--sub{
		font-size:1.8rem;
	}
}

/* nomarl heading */
.heading-normal {
	margin-bottom: 5rem;

	@include respond(tab-port) {
		margin-bottom: 3rem;
	}

	&--main{
		text-transform: uppercase;
		letter-spacing: 0.6rem;
		color:$color-primary;		
	}

	&--sub{
		letter-spacing: 0.2rem;
		font-size: 1.6rem;
		font-weight: $semi-bold;	
	}
}


